python -m venv envs/comandas
#.\envs\comandas\Scripts\activate
# pip install -r requirements.txt
pip install django
python.exe -m pip install --upgrade pip
pip install djangorestframework
pip install drf-yasg
# npm i bootstrap@5.3.3
pip install djangorestframework-simplejwt
pip install pillow
pip install crispy-bootstrap5
pip install django-admin-interface
python -m pip install django-cors-headers
pip install requests
pip install django-pwa
pip install django-mathfilters
pip install django-qr-code
python -m pip install django-browser-reload

# Para hacer commit
# git add .
# git commit -m "nombre"
# git push

#saber en que rama está trabajando
# git branch

#crear rama
#git branch nombre_rama

#cambiar de rama
# git checkout nombre_rama

# saber si hay cambios en la rama
#git fetch

#traer nuevos cambios de rama
#git pull
#