{% extends 'comandas/base.html' %}


{% block contenido %}
{% load humanize %}
<script>
  function eliminarproducto(id){
    console.log(id)
       Swal.fire({
       "title": "¿Estas seguro?",
       "text": "Esta acción no se puede deshacer",
       "icon": "question",
       "showCancelButton": true,
       "cancelButtonText": "No, cancelar",
       "confirmButtonText": "Si, eliminar",
       "reverseButtons": true,
       "confirmButtonColor": "darkred",
       "cancelButtonColor": "green",
    }) 
    .then(function(result){
      if(result.isConfirmed){
        window.location.href ="/eliminar-producto/"+id+"/"
      }
    })
  }
</script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Productos</h1>
  
</div>


<div class="table-responsive small">
 <div class="text-center" text-align= "center"; >
  <h3>Agregar</h3> 
  <h3><a href="{% url 'agregar_productos' %}" class="bi bi-plus-circle-fill " style = "color:green;"></a></h3>
 </div>
  <br>

  <table class="table table-striped table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Activo</th>
        <th scope="col">Imagen</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in productos %}
      <tr>
        <td>{{p.nombre}}</td>
        <td>${{p.precio | intcomma}}</td>
        <td>{{p.categoria}}</td>
        <td>
          {% if p.activo %}
          <i class="bi bi-check-circle-fill check" style = "color:green;"></i>
          {% else %}
          <i class="bi bi-x-circle-fill close" style = "color:red;"></i>
          {% endif %}
        </td>
        {% if p.imagen %}
        <td><img src="{{ p.imagen.url }}" width="50px"></td>
        {% endif %}
        <td>
          <a href="{% url 'modificar_productos' p.id%}" class="bi bi-pencil-square" style = "color:green;"></a> &nbsp 
          <a href="#" onclick="eliminarproducto({{ p.id }})" class="bi bi-trash3-fill" style = "color:red;"></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}